<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fertillizer || Produk</title>
        <link rel="stylesheet" href="../../asset/style.css">
        <script src="../../asset/js/script.js"></script>
    </head>

    <body>
        <div class="navbar menu" id="navbar">
            <a href="dashboard.html">
                <img src="../../img/icon2.png" class="logo" alt="">
            </a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="../dashboard.html">Beranda</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="./indexLogin.html">Shop</a></li>
                <li><a href="../produk/index.html">Produk</a></li>
                <li><a href="./shop/cart.html">Cart</a></li>
                <li><a href="../login.html">Log Out</a></li>
            </ul>
        </div>
        <div class="w3-display-container w3-animate-opacity">
            <img src="../../img/images-3.jpeg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
        </div>

        <div class="container">
            <div class="center">
                <a href="./tambah.html" style="text-decoration: none; color: white;"><button
                        style="margin-bottom: 30px;">Tambah Produk</button></a>
            </div>
        </div>

        <main class="grid">
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Hijau</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo neque eius porro
                        totam saepe dignissimos maxime ratione sequi pariatur debitis dolor ipsam rem optio ullam ut
                        perspiciatis deleniti omnis?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Kandang</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugiat asperiores maiores
                        facere cumque. Aliquam, temporibus, incidunt repellat vitae debitis accusamus facere, ipsam
                        suscipit pariatur magnam in nobis. Sit, porro.</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Kompos</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, voluptatem! Excepturi
                        iusto quia quis magni eveniet, nulla cum voluptatem, similique qui corrupti vel accusantium
                        culpa odit quisquam temporibus vero laborum?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Hayati Organik</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quisquam. Ipsam illo
                        similique fuga, at minus veniam adipisci officia accusamus. Beatae temporibus mollitia amet
                        officia velit incidunt in officiis repudiandae.</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Humus</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt totam assumenda, minima dolore
                        eius consequuntur vitae nulla quas mollitia exercitationem, tenetur quidem! Ratione amet,
                        aperiam doloremque tenetur sapiente consequatur! Iure!</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Seresah</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci expedita, necessitatibus
                        impedit aspernatur commodi ullam a odit quam, repudiandae nihil suscipit nostrum accusantium
                        exercitationem officia enim in? Ipsum, laudantium quisquam?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Organik Cair</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste porro minus hic quia
                        nam quae repudiandae. Expedita, exercitationem vel quia cupiditate quo, provident, hic
                        deleniti nobis esse vitae sunt?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Pupuk Bokashi</h3>
                    <p>oleh <a href="#">KRPL Melati Asembagus</a></p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, similique laudantium sapiente
                        impedit adipisci quis tenetur perferendis. Nihil, dignissimos. Similique eius temporibus
                        beatae asperiores ut natus sapiente ad a rerum?</p>
                    <a
                        href="https://teespring.com/fr/i-love-my-dog-7671?cid=2739&page=1&pid=46&sid=front&tsmac=store&tsmic=dog-lover-graphic-design">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>My therapist has paws</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus repellendus, harum sapiente
                        cum dolorem nemo cupiditate officiis, repudiandae itaque ea, non est quidem culpa rem.
                        Adipisci sint dolor accusamus perspiciatis?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Daisy the flower dog</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores sapiente repudiandae
                        quod similique sunt maiores repellendus debitis vitae nam tenetur et magnam provident vel ut
                        aliquid, quo sequi quis?</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Golden retriever</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum debitis quidem
                        nemo sed inventore libero, perspiciatis consectetur nesciunt sint molestiae voluptate minima
                        expedita fugit quae, veritatis rerum ab? Rerum.</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Puppy dog logo</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nemo nam quaerat id porro,
                        consequuntur fugiat molestias modi sunt, suscipit earum beatae maxime rerum sint, ipsam at
                        debitis! Expedita, iusto.</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>We must speak</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Material: 4.3 oz., 12 colors are 100% combed ringspun cotton. Machine Wash Cold, Tumble Dry
                        Low. Sizing offered: XS - 3XL</p>
                    <a
                        href="https://teespring.com/fr/we-must-speak-for-those-who-ca?cid=103391&page=1&pid=46&sid=front&tsmac=store&tsmic=dog-lover-graphic-design">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Mother of dogs</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veniam quibusdam
                        assumenda perspiciatis velit, atque deleniti officia, ad rerum recusandae dolor distinctio
                        cum iste laudantium eum, quia provident! Impedit, itaque.</p>
                    <a href="#">detail</a>
                </div>
            </article>
            <article>
                <img src="../../img/images-3.jpeg" alt="tshirt photo">
                <div class="text">
                    <h3>Did I Do That?</h3>
                    <p>oleh <a href="https://teespring.com/stores/dog-lover-graphic-design">Dog Lover Graphic
                            Design</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ex dolore enim facere
                        expedita illum voluptatum repellendus consectetur! Nesciunt vero est sint, cupiditate unde
                        tempora animi porro asperiores illo sit.</p>
                    <a href="#">detail</a>
                </div>
            </article>
        </main>

        <footer class="footer">
            <div class="footer__addr">
                <a href="../dashboard.html"><img src="../../img/icon.png" style="width: 300px;" alt=""></a>
                <h2>Contact</h2>
                <address>
                    ini alamat<br>
                    <a class="footer__btn" href="fertillizer:example@gmail.com">Email Us</a>
                </address>
            </div>

            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Produk</h2>
                    <ul class="nav__ul">
                        <li><a href="#">Organic</a></li>
                        <li><a href="#">Pestisida</a></li>
                        <li><a href="#">Pupuk</a></li>
                    </ul>
                </li>

                <li class="nav__item nav__item--extra">
                    <h2 class="nav__title">Technology</h2>
                    <ul class="nav__ul nav__ul--extra">
                        <li><a href="#">Hardware Design</a></li>
                        <li><a href="#">Software Design</a></li>
                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Legal</h2>
                    <ul class="nav__ul">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </li>
            </ul>

            <div class="legal">
                <p>&copy; 2019 Fertillizer. All rights reserved.</p>

                <div class="legal__links">
                    <span>Made with <span class="heart">♥</span></span>
                </div>
            </div>
        </footer>
    </body>

</html>