<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fertillizer || Produk</title>
        <link rel="stylesheet" href="../../asset/style.css">
    </head>

    <body>
        <div class="navbar menu" id="navbar">
            <a href="dashboard.html">
                <img src="../../img/icon2.png" class="logo" alt="">
            </a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="../dashboardLogin.html">Beranda</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="#careers">Shop</a></li>
                <li><a href="../produk/indexLogin.html">Produk</a></li>
                <li><a href="../login.html">Log Out</a></li>
            </ul>
        </div>
        <div class="w3-display-container w3-animate-opacity">
            <img src="../../img/images-3.jpeg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
        </div>
        <!-- onsubmit="return validateFormProduk()" -->
        <form action="../produk/indexLogin.html" name="form">
            <div class="container">
                <h1>Tambah Produk</h1>
                <p>Isi Jika ingin menambahkan produk</p>
                <hr>
                <label for="email"><b>Gambar</b></label>
                <input type="file" multiple id="gallery-photo-add" name="image">
                <div class="gallery"></div><br>

                <label for="email"><b>Nama</b></label>
                <input type="text" placeholder="Enter nama" name="nama">

                <label for="psw"><b>Harga</b></label>
                <input type="text" placeholder="Enter Harga" name="harga">

                <label for="psw"><b>kategori</b></label>
                <select name="" id="kategori">
                    <option value="kimia">Kimia</option>
                    <option value="organik">Organik</option>
                </select>

                <label for="sifat"><b>Sifat</b></label>
                <select name="" id="sifat">
                    <option value=""></option>
                </select>

                <label for="deskripsi"><b>Deskripsi</b></label>
                <textarea name="deskripsi" id="" rows="10"></textarea>


                <hr>
                <div id="btn_submit">
                    <button type="submit" class="registerbtn" id="submit_pesan">Tambah</button>
                </div>
            </div>
        </form>

        <div class="error-modal" id="error_modal">
            <div class="error-modal-content">
                <div class="modal-top">
                    <h3>Peringatan</h3>
                </div>

                <div class="modal-middle">
                    <b></b>
                </div>

                <div class="modal-bottom">
                    <button class="btn btn_utama" id="close_error_form">Close</button>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer__addr">
                <a href="../dashboardLogin.html"><img src="../../img/icon.png" style="width: 300px;" alt=""></a>
                <h2>Contact</h2>
                <address>
                    ini alamat<br>
                    <a class="footer__btn" href="fertillizer:example@gmail.com">Email Us</a>
                </address>
            </div>
            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Produk</h2>
                    <ul class="nav__ul">
                        <li><a href="#">Organic</a></li>
                        <li><a href="#">Pestisida</a></li>
                        <li><a href="#">Pupuk</a></li>
                    </ul>
                </li>

                <li class="nav__item nav__item--extra">
                    <h2 class="nav__title">Technology</h2>
                    <ul class="nav__ul nav__ul--extra">
                        <li><a href="#">Hardware Design</a></li>
                        <li><a href="#">Software Design</a></li>
                    </ul>
                </li>

                <li class="nav__item">
                    <h2 class="nav__title">Legal</h2>
                    <ul class="nav__ul">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </li>
            </ul>

            <div class="legal">
                <p>&copy; 2019 Fertillizer. All rights reserved.</p>

                <div class="legal__links">
                    <span>Made with <span class="heart">♥</span></span>
                </div>
            </div>
        </footer>

    </body>
    <script src="../../asset/js/jquery.min.js"></script>
    <script src="../../asset/js/script.js"></script>
    <script src="../../asset/js/validasi.js"></script>
    <script type="text/javascript">
        $("form").validateEmpty();

        $('#sifat').hide();

        $("#kategori").on('change', function () {
            const ss = $(this).val();
            var path = "https://raw.githubusercontent.com/kiloo34/P-web/master/json/tipe.json";
            console.log(path);
            console.log(ss);

            $.ajax({
                url: path,
                type: 'GET',
                dataType: 'json',

                success: function (data) {
                    // var items = JSON.parse(data);
                    // for (let i = 0; i < items.length; i++) {
                    //     const element = array[i];
                    // }
                    console.log(data);

                    var gab = "";
                    $.each(data, function (index, val) {
                        console.log(val);
                        gab +=
                            "<option value='" + val.nama + "'>" + val.nama + "</option>"
                    })
                    $('#sifat').html(gab);
                },
                error: function (data) {
                    show_error("tidak konek bos, konekin lagi !!");
                }
            });
            $("#sifat").show();
        });
    </script>

</html>